
@{
    ViewBag.Title = "Application Successfully Applied To";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- William Thomson -->
<!-- 28/07/2017 -->
<!-- If the application process was successful the applicant should be redirecte here -->



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h4>@ViewBag.Title</h4>
                    <div>
                        <p>
                            You have successfully applied to the @ViewBag.JobAdvertisement.JobTitle job advertisement.
                            <br/>
                            You should here back from the recruiter soon!
                        </p>
                        <p>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>