
@{
    ViewBag.Title = "Please Confirm Email";
    Layout = null;
}

<!-- William Thomson -->
<!-- 28/07/2017 -->
<!-- If the user hasn't confirmed their enail address yet they will be redirected to this view every time they try and login -->


<link rel="stylesheet" href="~/Content/style.default.css" id="theme-stylesheet">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">



<section>
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="box">
                    <h2>@ViewBag.Title.</h2>
                    <div>
                        <p>
                            You must Confirm your Email to Activate your Account.

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>